body{
    background-color: black;
    text-align: center;
}
h1{
    color: rgb(255, 255, 255);
}
h2{
    color: rgb(255, 255, 255);
}
h3{
    color: rgb(255, 255, 255);
}
h4{
    color: rgb(255, 255, 255);
}
#album{
    width: 450px;
}
h6{
    color: rgb(255, 255, 255);
}